QPushButton {
    background-color: transparent;
    border: none;
    color: #ccc;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
}

QPushButton:checked {
    background-color: #0e1f32;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

QPushButton:hover {
    font-size: 16px;
    background-color: #0088ff;
}